 
<!-- This is the users claim opinion entry page Fix align -->
<html>
  <head>
    <title>Fake News Checker</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <script src="https://use.fontawesome.com/6f35c618a4.js"></script>
  </head>
  <body>
  <header>
  <nav>
    <a href="/#"><i class="fa fa-home" aria-hidden="true" style="color:#BF5700"></i>&nbsp;Home</a>
    <a href="/about.html"><i class="fa fa-info-circle" aria-hidden="true" style="color:#BF5700"></i>&nbsp;About</a>
  </nav>
  </header>
  <main style="width:500px;margin-left:auto;margin-right:auto;max-width:90%;">
  <h1>News Fact Checker</h1>
      <h2 style="position: relative; color: #BF5700; text-align: center; margin-top: 50px; ">About</h2>
      <p>This is a tool that does things made by a great team.</p>
      <p>This is the team:</p>
      <ul>
	      <li>Professor Mathew Lease</li>
	      <li>An Thanh Nguyen</li>
	      <li>Jyothi Keshavan Vinjumur</li>
	      <li>Saumyaa Krishnan</li>
	      <li>Siddhesh Krishnan</li>
	      <li>Brent Biglin</li>
      </ul>
  </main>
    <footer>
      <p>This tool produces the validity of a claim after receiving an input by the user. It then returns the validity as percentages of the claim being x% true, y% false, and z% uncertain. It also provides various articles from various sources so that the user may confirm the tool's findings. Please keep in mind that this tool is not 100% accurate and may generate false outputs at times. Please keep in mind that The University of Texas at Austin does not endorse the veracity of any of the sample claims or any claims entered by the user.</p>
    </footer>
  </body>
</html>
