<html>
<head>
    <title>Fake News Checker</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <script src="https://use.fontawesome.com/6f35c618a4.js"></script>
    <script type="text/javascript"></script>
</head>
<body>
  <h1>News Fact Checker</h1>
  <h2>A Research Prototype</h2>
  <header>
  <nav>
    <a href="/#"><i class="fa fa-home" aria-hidden="true" style="color:#BF5700"></i>&nbsp;Home</a>
    <a href="/about/"><i class="fa fa-info-circle" aria-hidden="true" style="color:#BF5700"></i>&nbsp;About</a>
  </nav>
  </header>
      <p style="text-align:center;">Enter a Claim</p>
      <form method="post" action="{{ url_for('userClaimsInput') }}">
        <input type="text" class="searchbox" name='claim' id='claim'>
	<br>
	<div class="buttons">
          <input type="submit" name = "button" value="Check Claim" class="submit-button">
          <input type="submit" name = "button" value="Try a Random Claim" class="submit-button">
	</div>
      </form>
    <div class="examples">
      <p>Example Claims:</p>
      <ul>
        <li>
          <a href="#" onclick="document.getElementById('claim').value='Obama is not an American';">Obama is not an American</a>
        </li>
        <li>
          <a href="#" onclick="document.getElementById('claim').value='US National Otto Warmbier died in North Korea';">US National Otto Warmbier died in North Korea</a>
        </li>
        <li>
          <a href="#" onclick="document.getElementById('claim').value='Tesla Cars are not safe to drive';">Tesla Cars are not safe to drive</a>
        </li>
      </ul>
    </div>
    <footer>
      <p>This tool is a research prototype and is provided without warranty.</p>
    </footer>
</body>
</html>
