 
<!-- This is the users claim opinion entry page Fix align -->
<html>
  <head>
    <title>News Fact Checker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <script src="https://use.fontawesome.com/6f35c618a4.js"></script>
  </head>
  <body>
  <header>
  <nav>
    <a href="/#"><i class="fa fa-home" aria-hidden="true" style="color:#BF5700"></i>&nbsp;Home</a>
    <a href="/about/"><i class="fa fa-info-circle" aria-hidden="true" style="color:#BF5700"></i>&nbsp;About</a>
  </nav>
  </header>
  <h1>News Fact Checker</h1>
      <h2 style="position: relative; color: #BF5700; text-align: center; margin-top: 50px; ">Claim: "{{QueryString}}"</h2>
  <div class="likert-scale">
    <form action="/results/?claim=cl">
    <input type="hidden" name="claim" value="{{QueryString}}" />
    <label class="statement">While we're generating results, we'd love to you hear your opinion. What do you believe about this claim?</label>
    <br>
    <br>
    <ul class='likert'>
      <li>
        <input type="radio" name="likert" value="definitely_true">
        <label>Definitely true.</label>
      </li>
      <li>
        <input type="radio" name="likert" value="true">
        <label>Most likely true.</label>
      </li>
      <li>
        <input type="radio" name="likert" value="unsure">
        <label>I have no idea.</label>
      </li>
      <li>
        <input type="radio" name="likert" value="false">
        <label>Most likely false.</label>
      </li>
      <li>
        <input type="radio" name="likert" value="definitely_false">
        <label>Definitely false.</label>
      </li>
    </ul>
    <br>
    <div class="buttons">
      <button class="submitter">Continue to Results</button>
    </div>
    </form>
    <br>
    <p style="text-align: center;"><a href="/#" style="color:#BF5700;text-decoration:none">Search for a different claim.</a></p>
  </div>
    <footer>
      <p>This tool is a research prototype and is provided without warranty.</p>
    </footer>
  </body>
</html>
