 
<!-- This is the users claim opinion entry page -->
 <html>
 <head>
    <title>rmapp-result</title>
    
</head>
<body>
    <div id="container">
        <div style="text-align:center;">

            <img src="https://upload.wikimedia.org/wikipedia/en/e/e1/University_of_Texas_at_Austin_seal.svg" alt="Mountain View" style="width:94px;height:78px;position: absolute; top: 0px; left: 0px;">
            <u> <b><font face="booker" size="100">Fake News Checker</font></b></u>

        </div>
        <br>

        <div id="content">
            
            
            
            
            <h2 style="position: relative; color: #BF5700; left: 10%;  ">Claim: "<strong>{{QueryString}}</strong>"</h2>
            <h2 style="position: relative; left: 10%;  ">What are your opinions on the above claim? Enter your answers below. (Do not<br>include the percentage signs)</h2>
            <br>
            <h3 style="position: relative; left: 13%;  ">Enter the likelihood of this claim being true:</h3>
            <h3 style="position: relative; left: 13%;  ">Enter the likelihood of this claim being false:</h3>
            <h3 style="position: relative; left: 13%;  ">Enter the likelihood of this claim being inconclusive:</h3>




            <form method="post" action="{{ url_for('userClaimsOpinion') }}">

                <input type="number" style = "background-color: #BF5700; color: white; position: relative; top: -120px; left: 51%;  " name="trueInput" align="right" value="16" /><br />
                <div style="text-align:center;">





                    <input type="number" style = "background-color: #BF5700; color: white; position: relative; top: -100px; left: 5.5%;  " name="falseInput" align="right" value="73" /><br />
                    <div style="text-align:center;">





                        <input type="number" style = "background-color: #BF5700; color: white; position: relative; top: -80px; left: 5.5%;  " name="unsureInput" align="right" value="11" /><br />
                        <div style="text-align:center;">


                            <br>
                            <input align="right" type="submit" style = "background-color: #BF5700; color: white;  position: relative; top: -60px; left: 5.5%; font-size:17pt;" />
                        </form>

                    </div> </div> </div>



                    


                    <!-- Error  <strong>{{ErrorMessage}}</strong>  Usually this is place holder to display error messages. It is hidden generally unless there is an error. -->
                    <br>
                    
                    <br> 
                    <h2 style="position: relative; color: #BF5700; left: 10%;  ">Make sure that the percentages add up to 100!</h2>
                    <h2 style="position: relative; color: #B33A3A; left: 10%;  "><strong>{{ErrorMessage}}</strong></h2>

                    <br>
                    
                    <h2>
                     
                    </div>
                </div>
            </body>
            </html>
