<!DOCTYPE html>
<html>
<div class="seal">
	<img src="https://upload.wikimedia.org/wikipedia/en/e/e1/University_of_Texas_at_Austin_seal.svg" alt="UT Austin Seal">
</div>
  <h1>Fake News Checker</h1>

<div >

<h2  font face="booker" style="position: relative; top: 40px; left: 8%;  ">Sample Claims: </h2>
<h2  font face="booker" style="position: relative; top: 40px; left: 50%;  ">Enter the claim which you would like data for  </h2>

</div>











<div>
<font color= #BF5700  ><h3 font face="booker" style="position: relative; top: 20px; left: 8%;  ">Obama is not an American </h3></font>

</div>

<div>
<font color= #BF5700  ><h3 font face="booker" style="position: relative; top: 0px; left: 8%;  ">US National Otto Warmbier died in North Korea </h3></font>

</div>

<div>
<font color= #BF5700  ><h3 font face="booker" style="position: relative; top: -20px; left: 8%;  ">Tesla Cars are not safe to drive </h3></font>

</div>




</html>
